<h1>Welcome to Rock Paper Scissors!</h1>

<p>To play this game, select Rock, Paper or Scissors. You know the rest...</p>

<h2>Pick attack:</h2>

<%= link_to image_tag("rock_paper_scissors/rock.jpeg"), rock_paper_scissors_path(0) %>
<%= link_to image_tag("rock_paper_scissors/paper.jpeg"), rock_paper_scissors_path(1) %>
<%= link_to image_tag("rock_paper_scissors/scissors.jpeg"), rock_paper_scissors_path(2) %>