<% if @result == "wins" %>
	<h1>CONGRATS! YOU WON!</h1>
	<h3>The secret number was <%=@secret_number%></h3>
	<p><%= image_tag 'games/cat-wins.gif' %></p>
<% elsif @result == "draw" %>
	<h1>You drew</h1>
<% else %>
	<h1>Sorry, you lose...</h1>
	<p><%= image_tag 'games/loser.gif' %></p>
<% end %>

<p>
	<h3><%= link_to "PLAY AGAIN", new_rock_paper_scissors_path %></h3>
</p>